<div class=" flex bg-gradient-to-r from-cyan-500 to-blue-500 ... py-3">
  <p class="px-4 font-medium text-2xl">Todo List</p>
  <button class="absolute right-0 rounded-full px-5 bg-red-400"
   (click)="logout()">Logout</button>
  </div>
<router-outlet></router-outlet>
<div *ngIf="parent">
  <div class="flex flex-row px-64 mt-12">
    <input class="w-10/12 mr-11 border border-sky-400 rounded pl-3" type="text" placeholder="Type a task" [(ngModel)]="new_task">
    <button class="bg-sky-400 px-4 py-1 rounded-xl" (click)="Add_task()">Add task</button>
  </div >
  <div class="button-group">
    <button (click)="all()">All</button>
    <button (click)="completed()">Completed</button>
    <button (click)="pending()">Pending</button>
  </div>
  <div  >
  <div

  *ngFor="let list of this.todo_service.todo_list; let i=index"
  (dblclick)="edit_task(i)">
  <div style="display: flex; width: 51.9%;" *ngIf="status==='all' || status===list.completed">
    <span  class="task text-lg" style="width: 86%;">{{list.todo}}</span>
    <p class=""  [ngStyle]="{'color':list.completed ? 'green' : 'red' }">Task Completion Status: {{list.completed}} </p>
  </div>
  <!-- <ng-template #templateName>
    <span class="task text-lg">{{list.todo}}</span>
    <p class="text-yellow-500 font-bold text-lg status">Pending</p>
  </ng-template> -->
</div>

</div>

</div>

