  <button class="absolute right-2 top-4 py-1 rounded-full px-5 bg-red-400"
   (click)="logout()">Logout</button>
<router-outlet></router-outlet>
<div *ngIf="parent">
  <div class="flex flex-row px-64 mt-12 px-">
    <input class="w-10/12 mr-11 border border-sky-400 rounded pl-3" type="text" placeholder="Type a task" [(ngModel)]="new_task">
    <button class="bg-gradient-to-r from-cyan-500 to-blue-500 px-4 py-1 rounded-full" [disabled]="!new_task" (click)="Add_task()">Add task</button>
  </div >
  <div class="button-group flex justify-center mr-40 my-6">
    <button (click)="all()" class="rounded-l-full bg-gradient-to-r from-cyan-500 to-blue-500 px-9 py-1">All</button>
    <button (click)="completed()" class="bg-gradient-to-r from-green-300 to-green-500 px-5 py-1">Completed</button>
    <button (click)="pending()" class="rounded-r-full bg-gradient-to-r from-yellow-300 to-yellow-500 px-5 py-1">Pending</button>
  </div>

  <div
  class="flex flex-col items-center  ml-80 w-7/12 "
  *ngFor="let list of this.todo_service.todo_list; let i=index"
  (dblclick)="edit_task(i)">
  <div class="w-11/12 flex mb-4 bg-sky-100 py-2 px-2 rounded-full shadow-xl shadow-gray-200" *ngIf="status==='all' || list.completed==status">
    <span  class="task text-lg" style="width: 86%;">{{list.todo}}</span>
    <p class="text-green-500 text-xl" *ngIf="list.completed; else pending">Completed </p>
    <ng-template #pending>
      <p class="text-yellow-500 text-xl">Pending</p></ng-template>
  </div>
  <!-- <ng-template #templateName>
    <span class="task text-lg">{{list.todo}}</span>
    <p class="text-yellow-500 font-bold text-lg status">Pending</p>
  </ng-template> -->
</div>


</div>

