<div class="flex flex-col justify-center items-center mt-16 ">
  <div class="current_task mb-12 w-2/5 bg-sky-100 shadow-xl p-12 rounded-2xl">
    <p class="mb-12">Task: {{todo_service.todo_list[todo_service.todo_index].todo}}</p>
    <p *ngIf="todo_service.todo_list[todo_service.todo_index].completed;else pending">Status: Completed</p>
    <ng-template #pending>Status: Pending</ng-template>
  </div>
<form (ngSubmit)="Updated()" class="w-2/5 bg-sky-100 shadow-xl p-12 rounded-2xl">
  <div class="updated task">
    <label class="mb-12 mr-1">Update Task:</label>
    <input class="mb-12 border border-sky-400 rounded pl-3" type="text" [(ngModel)]="updated_task" name="edited_task">
<br>
    <label class="mb-12 mr-1 " >Update Status:</label>
    <select class="mb-12 border border-sky-400 rounded" [(ngModel)]="status" name="status">
      <option value="true">Completed</option>
      <option value="false">Pending</option>
    </select>
<br>
    <button class="mr-12 bg-gradient-to-r from-green-600 to-green-300 px-4 py-1 rounded-full text-white" type="submit">Update</button>
    <button class="mr-12 bg-sky-400 px-4 py-1 rounded-full text-white" type="reset" (click)="Cancel()">Cancel</button>
    <button class="bg-red-400 px-4 py-1 rounded-full text-white" type="reset" (click)="Delete()">Delete</button>
  </div>
</form>
</div>
